<! doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="/css/style.css">
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/blocs.js"></script>
    <title>{% block site-title %}{% end %}</title>
</head>
<body {% block content-reloader %}{% end %}>
<!-- Main container -->
<div class="page-container">
    <!-- Navigation Bloc -->
<div class="bloc l-bloc " id="nav-bloc">
	<div class="container bloc-sm">
		<nav class="navbar nav-invert row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">{% block welcome %}{% end %}</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav">
					{% block nav-content %}{% end %}
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- Navigation Bloc END -->

{% block content %}{% end %}

</body>
    
<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
