{% extends base.html %}
{% block welcome %}Welcome {{ userName }}{% end %}
{% block site-title %}Gallery{% end %}
{% block nav-content %}
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/log">Log</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
{% end %}
{% block content %}
<script type="text/javascript">
$('document').ready(function(e){
	$('#submit').click(function() {
        var $inputs = $('#filter-box :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val();
        });
		values.capture_mode = $('input[name="capture_mode"]:checked').val();
		console.log(values.capture_mode);
        var json_data=JSON.stringify(values)
        var obj = $.parseJSON(json_data);
		xmlhttp = new XMLHttpRequest();
		var url = "/gallery";
		$('#results').empty();
		xmlhttp.open("POST", url, true);
		xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xmlhttp.onreadystatechange = function () { //Call a function when the state changes.
   			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
       			var data = JSON.parse(xmlhttp.responseText);
				console.log(data);
				console.log(data.length);
				for( var i = 0; i < data.length; i++ )
				{
				    o = data[i];
    				console.log(o.time);
					console.log("/static/"+o.path);
$('#results').append('<li><img src="' + "/static/"+o.path + '" /><h4>'+o.time+'</h4></li>');

				}
	   		}
		}
		xmlhttp.send(json_data);
        //console.log(values);
    return false;
    });
});
</script>
<!-- bloc-2 -->
<div class="bloc l-bloc  b-divider" id="bloc-3">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
				  <form id="filter-box" method="post" action="/gallery" name="filter-form">
					<label>
						From:
					</label>
					<input class="form-control" name="filter_from" type="date" min="2014-01-01" max="{{ system_date_today }}"/>
					<label>
						To:
					</label>
					<input class="form-control" name="filter_to" type="date" max="{{ system_date_today }}"/>
				  <div class="divider-h">
					 <span class="divider"></span>
				  </div>
					<label>Capture mode</label>
				  <div class="radio">
					<label>
						<input type="radio" name="capture_mode" id="automatic" value="automatic" />Automatic
					</label>
				  </div>
				  <div class="radio">
					<label>
						<input type="radio" name="capture_mode" id="manual" value="manual" />Manual
					</label>
				  </div>
				  <div class="radio">
					<label>
						<input type="radio" name="capture_mode" id="capture-both" value="both" checked="checked"/>Both
					</label>
				  </div>
				  <div class="divider-h">
					 <span class="divider"></span>
				  </div>
					<input class="form-control" type="submit" value="Filter" id="submit"/>
				</form>
			</div>
		</div>
			<div class="col-sm-8">
				<div id="pattern" class="pattern">
					<ul class="rig columns-3" data-role="listview" id="results">
						{% for key in dict%}
							<li><img src="{{static_url(key.path)}}"/><h4>{{key.time}}</h4> </li>
						{% end %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->
{% end %}
