{% extends base.html %}
{% block site-title %}Home{% end %} 
{% block welcome %}Welcome {{ userName }}{% end %}

{% block content-reloader %}onload="updatePic(); setInterval('updatePic()', 1000)"{% end %}
{% block nav-content %}
	<li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/log">Log</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
{% end %}
{% block content %}
<!-- bloc-1 -->
<div class="bloc l-bloc " id="bloc-1">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<center>
				<img id="liveimage" src="/stream" class="img-responsive" alt='' />
				<div class="checkbox">
					<label>
						<input type="checkbox" onchange="light()"/>Light
					</label>
				</div>
				</center>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
					<a href="#" class="btn  btn-d  btn-lg" id="rotLeft"">Left</a>
					<a href="#" class="btn  btn-d  btn-lg" >Capture</a>
					<a href="#" class="btn  btn-d  btn-lg" id="rotRight">Right</a>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->
</div>
<!-- Main container END -->

<!-- SCRIPTS -->
<script>
var xmlhttp;
if (window.XMLHttpRequest){
  // code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

document.getElementById("rotLeft").addEventListener('click',
function rotateLeft(){
    xmlhttp.open("GET", "/rotate/left", true);
    xmlhttp.send();
})

function light(){
	xmlhttp.open("GET","rotate/light", true);
	xmlhttp.send();
}

document.getElementById("rotRight").addEventListener('click',
function rotateRight(){
    xmlhttp.open("GET", "/rotate/right", true);
    xmlhttp.send();
})


function updatePic(){
    var rnd = Math.random();
    document.getElementById("liveimage").src = "/stream?cachebuster=" + rnd;
}


</script>
<!__ SCRIPTS END -->
{% end %}
