{% extends base.html %}
{% block welcome %}{{ userName }}{% end %}
{% block site-title %}Log{% end %}
{% block content-reloader %}{% end %}
{% block nav-content %}
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/log">Log</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
{% end %}

{% block content %}
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript">
$('document').ready(function(e){
    $('#submit').click(function() {
        var $inputs = $('#filter-box :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val();
        });
        var json_data=JSON.stringify(values)
        var obj = $.parseJSON(json_data);
        xmlhttp = new XMLHttpRequest();
        var url = "/log";
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-for$
        xmlhttp.onreadystatechange = function () { //Call a function wh$
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(xmlhttp.responseText);
            }
        }
        xmlhttp.send(json_data);
        //console.log(values);
    return false;
    });
});
	function clearList(){
//    	var logContainer = document.getElementById('log_list');
//		var lis = logContainer.getElementsByTagName('li');
//		for(var i = 0, il = lis.length;i<il; i++) {
//  		logContainer.removeChild(lis[i]);
	//	}
	}
    function liveswitch(){
      if(document.getElementById("live-switch").checked)
      { document.getElementById("filter-box").style.display = 'none';}
      else{ document.getElementById("filter-box").style.display = 'inline';}
		clearList();	
    }

    function updateList(){
    	var logContainer = document.getElementById('log_list');
      if(logContainer.childNodes.length === {{ max_lines }}){
          logContainer.removeChild(logContainer.lastChild);
      }
      // create new childnode and insert before first
      var newChild = document.createElement('li');
      newChild.innerHTML = Date();
      logContainer.insertBefore(newChild,logContainer.firstChild);

    }

</script>
    <!-- bloc-3 -->
    <div class="bloc l-bloc " id="bloc-3">
      <div class="container bloc-lg">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="live" id="live-switch" checked="checked"
                  onChange="liveswitch()"/>Live
                </label>
              </div>
              <div class="divider-h">
                <span class="divider"></span>
              </div>
              <form action="/log" method="post" id="filter-box" style="display:none;">
                <label>From:</label>
                <input class="form-control" name="filter_from" 
						type="date" min="2014-01-01"/>
                <label>To:</label>
                <input class="form-control" name="filter_to"
						type="date" max="2015-02-03"/>
                <div class="divider-h">
                  <span class="divider"></span>
                </div>
                <input class="form-control" type="submit" id="submit" value="Submit"/>
              </form>
            </div>
          </div>
          <div class="col-sm-8">
            <button type="button" onclick="updateList()">DEL add content</button>
            <ol class="log" id="log_list"/>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc-3 END -->
{% end %}
