{% extends base.html %}
{% block site-title %}Login{% end %}
{% block welcome %}Welcome{% end %}
{% block nav-content %}
    <li><a href="/">Home</a></li>
{% end %}


{% block content %}
{% if wrongPass == 'True' and firstTime == 'False' %}
<p><b><font color="red"> Username and/or password was incorrect! </font></b></p>
{% end %}

<!-- bloc-4 -->
<div class="bloc l-bloc " id="bloc-4">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
        <form method="post" action="/">
				 <div class="form-group">
				 	<label>Username:</label>
				 	<input class="form-control" name="username"  type="text"/>
				 	<label>Password:</label>
					<input class="form-control" name="password" type="password"/>
					<div class="divider-h"><span class="divider"></span></div>
					<input class="form-control" type="submit" value="Login"/>
				</div>
       </form>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->
{% end %}
