{% extends base.html %}
{% block username %}Goodbye{% end %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="/css/style.css">
    
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/blocs.js"></script>
    <title>Bye</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    <!-- Navigation Bloc --><div id="b-nav" class="bloc-container">
	<div id="bloc-nav" class="d-mode d-mode-active">
		<div class="bloc l-bloc bgc-2" id="nav-bloc">
			<div class="container bloc-sm">
				<nav class="navbar nav-invert row">
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">H&P Code</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav">
							<li>
								<a href="/">Login</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Navigation Bloc END -->
</div>
<!-- Main container END -->

</body>
    
<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
