{% extends base.html %}
{% block site-title %}Settings{% end %}
{% block welcome %}{{ userName }}{% end %}
{% block content-reloader %}{% end %}
{% block nav-content %}
<li><a href="/">Home</a></li>
<li><a href="/gallery">Gallery</a></li>
<li><a href="/log">Log</a></li>
<li><a href="/settings">Settings</a></li>
<li><a href="/logout">Logout</a></li>
{% end %}

{% block content %}
<p>Hello, this is settings.</p>
{% end %}
