<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
  <title>Surveillance System</title>
</head>
<style>
#topnav{
  background-color: #3299BB;
  font-weight: bold;
}
#topnav li{
  display: inline;
}
#topnav a{
  text-decoration: none;
  color: #E9E9E9;
  padding: 10px 10px 10px 10px;
}
#topnav a:hover{
  color:#424242;
  background-color:#E9E9E9;
}

#liveimage{
	width:100%;
	max-width:480px;
}
button[type=button]{
	height:60px;
}
</style>
<body style="background-color: #E9E9E9" {% block startPicTimer %}{% end %}> 

  <h1>Surveillance System</h1>
  <div id="topnav">
    <ul class="nav topbar">
      <li> <a class="topnav_home" href = "/home">Home</a> </li>
      <li> <a class="topnav_gallery" href="#">Gallery</a> </li>
      <li> <a class="topnav_log" href="#">Log</a> </li>
      <li style="float: right"> <a class="topnav_user">{% block username %}{% end %}</a></li
      </ul>
    </div>
  <div id="content">
	<p align="right">{% block logout %}{% end %}</p>

    <center>
    {% block content %}{% end %}
    </center>
  <div>

</body>
</html>


