{% extends base.html %}
{% block content %}

{% if wrongPass == 'True' and firstTime == 'False' %}
	<p><b><font color="red">Username and/or password was wrong! </font></b></p>
{% end %}
<form method="post" action="/">
	<p>Username: <input type="text" name="username"></p>
	<p>Password: <input type="text" name="password"></p>
	<input type="submit" value="Submit">		
</form>

{% end %}

