{% extends base.html %}
{% block username %}{{ firstName }}{% end %}

{% block startPicTimer %}onload="updatePic(); setInterval('updatePic()', 2000 )"{% end %}

{% block logout%}<form method="get" action="/logout"><button type="submit">Logout</button></form>{% end %}

{% block content %}
<center>
<p> Welcome in, {{ firstName }}</p>
<p><image id="liveimage" src="/stream"> </p>
<input type="checkbox" id="lightning" value="light" onchange=light()>Light</input>
<ul>
	<button type="button" onclick="rotateLeft()"><img src="{{static_url("images/arrow-left.png")}}" widht=48 height=48 /></button>
	<button type="button" onclick="" id="flash"><img src"{{static_url("images/capture.png")}}" width=48 height=48/></button>
	<button type="button" onclick="rotateRight()"><img src="{{static_url("images/arrow-right.png")}}" width=48 height=48/></button>
</ul>
<p id="last_command"></p>
<p id="log"></p>
</center>
<script>
function light(){
document.getElementById("last_command").innerHTML = "Flash"
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
 xmlhttp.open("GET","/rotate/light",true)
 xmlhttp.send();

}

function rotateLeft(){
document.getElementById("last_command").innerHTML = "Turn left"
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
	xmlhttp.open("GET", "/rotate/left", true);
	xmlhttp.send();
}

function rotateRight(){
document.getElementById("last_command").innerHTML = "Turn right"
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
	xmlhttp.open("GET", "/rotate/right", true);
	xmlhttp.send();

}


function updatePic(){
	var rnd = Math.random();
	document.getElementById("liveimage").src = "/stream?cachebuster=" + rnd;
}
</script>
{% end %}



